$primary-color: #061229;
$secondary-color: #2997b9;
@mixin easeOut {
    transition: all 0.5s ease-in-out;
}

//Media guery Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}