@import'config';
@font-face {
    src: url(fonts/YuseiMagic-Regular.ttf);
    font-family: yusei;
}

@font-face {
    src: url(fonts/DMSans-Regular.ttf);
    font-family: dmsans;
}

@font-face {
    src: url(fonts/Basic-Regular.ttf);
    font-family: basic;
}

* {
    font-size: 0.9rem;
    font-family: dmsans;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}


/* ----------------------- customized styles --------------------------------------------------------------------------------------- */

button {
    padding: 0.7rem 1rem;
    outline: none;
    background-color: $secondary-color;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    padding: 0.7rem 1rem;
    outline: none;
    background-color: $secondary-color;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.gr {
    display: grid;
    grid-gap: 2rem;
    &.gr-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &.gr-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.nav-wrapper {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 5rem 3rem;
        h2 {
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                color: darken($secondary-color, 3);
            }
        }
        .nav-btns {
            .btn {
                margin: 0 0.3rem;
                text-transform: uppercase;
            }
        }
    }
}

main {
    &#home {
        .content {
            display: flex;
            justify-content: space-between;
            padding: 5rem 0 0 2rem;
            background: $secondary-color;
            .sidenav {
                width: 20%;
                ul {
                    padding: 2rem 0;
                    border-radius: 2rem;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    @include easeOut;
                    li {
                        list-style: none;
                        padding: 1rem 0;
                        a {
                            @include easeOut;
                            width: 100%;
                            padding: 1rem 3rem 1rem 1rem;
                            border-radius: 1rem;
                            font-size: 1.3rem;
                            color: #fff;
                            &.active {
                                background: darken($secondary-color, 9);
                            }
                            &:hover {
                                background: darken($secondary-color, 5);
                            }
                            i {
                                font-size: 2rem;
                                margin: 0.7rem 0.5rem 0 0.5rem;
                            }
                        }
                    }
                }
            }
            .dashboard-sum {
                width: 80%;
                padding: 5rem 5rem 5rem 3rem;
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
                background: #fff;
                h4 {
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                    margin: 0 0 2rem 0;
                }
                .gr {
                    padding: 8rem 5rem;
                    background: url(/img/bg.jpg);
                    background-size: cover;
                    background-attachment: fixed;
                    border-radius: 2rem;
                    div {
                        border-radius: 2rem;
                        box-shadow: 10px 10px 10px darken($secondary-color, 15);
                        background-color: $secondary-color;
                        padding: 2rem 3rem;
                        text-align: center;
                        color: #fff;
                        h3 {
                            font-size: 1.5rem;
                        }
                        p {
                            margin: 1rem 0;
                            font-size: 2rem;
                        }
                    }
                }
            }
            .charts {
                padding: 3rem 0;
                h3 {
                    text-align: center;
                    font-size: 3rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 1rem 0 3rem 0;
                }
                .donations-chart {
                    background: $primary-color;
                    padding: 2rem 3rem;
                    border-radius: 2rem;
                    h4 {
                        text-align: center;
                        font-size: 2rem;
                        text-transform: uppercase;
                        margin: 2rem 0;
                        color: #fff;
                    }
                    canvas {
                        color: #fff!important;
                    }
                }
                .enrollment-chart {
                    padding: 2rem 3rem;
                    border-radius: 2rem;
                    h4 {
                        text-align: center;
                        font-size: 2rem;
                        text-transform: uppercase;
                        margin: 2rem 0;
                    }
                }
            }
        }
    }
    /* ------------------------------------------ account  ------------------------------------------------------------------------------------------------------------------------------------ */
    &#account {
        #login-page {
            .login-page-hdr {
                display: flex;
                justify-content: space-between;
                padding: 3rem 5rem;
                background: $secondary-color;
                span {
                    display: flex;
                    i {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                    h2 {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        color: #fff;
                    }
                }
                i {
                    &.lni-home {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                }
            }
            .login-form {
                padding: 3rem 5rem;
                display: flex;
                form {
                    width: 60%;
                    padding: 3rem 5rem;
                    .input {
                        margin: 0.5rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        label {
                            font-size: 1rem;
                            padding: 0.6rem 0;
                        }
                        input {
                            width: 80%;
                            padding: 0.7rem 2rem 0.7rem 3rem;
                            outline: none;
                            border: none;
                            border-bottom: 2px solid darken($secondary-color, 6);
                            font-size: 1rem;
                            color: #000;
                        }
                        i {
                            position: relative;
                            font-size: 1.5rem;
                            top: 2rem;
                            color: $secondary-color;
                        }
                    }
                    .form-txt {
                        padding: 2rem 0;
                        p {
                            font-size: 1rem;
                            a {
                                text-decoration: none;
                                color: $secondary-color;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .login-img {
                    width: 40%;
                    background: url(/img/bg-2.svg);
                    background-size: cover;
                }
            }
        }
        #signup-page {
            .signup-page-hdr {
                display: flex;
                justify-content: space-between;
                padding: 3rem 5rem;
                background: $secondary-color;
                span {
                    display: flex;
                    i {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                    h2 {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        color: #fff;
                    }
                }
                i {
                    &.lni-home {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                }
            }
            .signup-form {
                display: flex;
                padding: 3rem 5rem;
                form {
                    width: 60%;
                    padding: 3rem 5rem;
                    .input {
                        margin: 0.5rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        label {
                            font-size: 1rem;
                            padding: 0.6rem 0;
                        }
                        input {
                            width: 80%;
                            padding: 0.7rem 2rem 0.7rem 3rem;
                            outline: none;
                            border: none;
                            border-bottom: 2px solid darken($secondary-color, 6);
                            font-size: 1rem;
                            color: #000;
                        }
                        i {
                            position: relative;
                            font-size: 1.5rem;
                            top: 2rem;
                            color: $secondary-color;
                        }
                    }
                    .form-txt {
                        padding: 2rem 0;
                        p {
                            font-size: 1rem;
                            a {
                                text-decoration: none;
                                color: $secondary-color;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .signup-img {
                    width: 40%;
                    background: url(/img/bg-3.svg);
                    background-size: cover;
                }
            }
        }
    }
    /* ------------------------------------------ donations ------------------------------------------------------------------------------------------------------------------------------------ */
    &#donations {
        #donation-page-form {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #fff;
            &.modal-form {
                display: none;
                &.active {
                    display: block;
                }
            }
            .donation-page-hdr {
                display: flex;
                justify-content: space-between;
                padding: 3rem 5rem;
                background: $secondary-color;
                span {
                    display: flex;
                    i {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                    h2 {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        color: #fff;
                    }
                }
                i {
                    &.lni-close {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .donation-form {
                padding: 3rem 5rem;
                display: flex;
                form {
                    width: 60%;
                    padding: 3rem 5rem;
                    .input {
                        margin: 0.5rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        &.hide {
                            display: none;
                        }
                        label {
                            font-size: 1rem;
                            padding: 0.6rem 0;
                        }
                        input {
                            width: 80%;
                            padding: 0.7rem 2rem 0.7rem 3rem;
                            outline: none;
                            border: none;
                            border-bottom: 2px solid darken($secondary-color, 6);
                            font-size: 1rem;
                            color: #000;
                        }
                        i {
                            position: relative;
                            font-size: 1.5rem;
                            top: 2rem;
                            color: $secondary-color;
                        }
                    }
                    .form-txt {
                        padding: 2rem 0;
                        p {
                            font-size: 1rem;
                            a {
                                text-decoration: none;
                                color: $secondary-color;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .donation-img {
                    width: 40%;
                    background: url(/img/bg-2.svg);
                    background-size: cover;
                }
            }
        }
        .donations-content {
            .di {
                display: flex;
                justify-content: space-between;
                padding: 2rem 3rem;
                .content-hdr {
                    padding: 5rem 5rem 3rem 5rem;
                    box-shadow: 10px 10px 10px darken($secondary-color, 15);
                    background-color: $secondary-color;
                    width: 500px;
                    border-radius: 2rem;
                    span {
                        display: flex;
                        h2 {
                            font-size: 4rem;
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: 600;
                            margin: 1rem 0;
                        }
                        i {
                            font-size: 5rem;
                            color: #fff;
                            margin: 1rem 0.5rem;
                        }
                    }
                    button {
                        background-color: #fff;
                        color: #000;
                    }
                }
                .sidenav {
                    padding: 0 3rem;
                    display: flex;
                    i {
                        font-size: 3rem;
                        margin: 1rem 0;
                        z-index: 3;
                        cursor: pointer;
                    }
                    ul {
                        padding: 1rem 3rem;
                        background: rgb(241, 241, 241);
                        border-radius: 2rem;
                        width: 30%;
                        position: absolute;
                        box-shadow: 10px 10px 10px darken(rgb(241, 241, 241), 15);
                        top: 15rem;
                        right: 10rem;
                        visibility: hidden;
                        transform: translate3d(-100%, 0, 0);
                        @include easeOut;
                        &.show {
                            visibility: visible;
                            transform: translate3d(0, 0, 0);
                        }
                        li {
                            list-style: none;
                            margin: 1rem 0;
                            padding: 0.5rem 0;
                            a {
                                padding: 1rem 6rem 1rem 1rem;
                                border-radius: 1rem;
                                width: 100%;
                                font-size: 1.3rem;
                                &:hover {
                                    background: darken(rgb(241, 241, 241), 5);
                                }
                                &.active {
                                    background: darken(rgb(241, 241, 241), 9);
                                    &:hover {
                                        background: darken(rgb(241, 241, 241), 9);
                                    }
                                }
                                i {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .donations-table {
            padding: 5rem 3rem;
            h3 {
                font-size: 2rem;
                padding: 1rem 0;
            }
            table {
                background-color: rgb(241, 241, 241);
                width: 100%;
                border-radius: 2rem;
                padding: 5rem;
                tr {
                    th {
                        font-size: 1.5rem;
                        padding: 1rem 2rem;
                        width: 30%;
                        text-align: center;
                        font-weight: bold;
                        border-bottom: 2px solid $secondary-color;
                    }
                    td {
                        font-size: 1.2rem;
                        padding: 1rem 2rem;
                        width: 30%;
                        margin: 0;
                        &:nth-child(1) {
                            border-right: 2px solid $secondary-color;
                        }
                        &:nth-child(2) {
                            border-right: 2px solid $secondary-color;
                        }
                    }
                }
            }
        }
    }
    /* ------------------------------------------ payments ------------------------------------------------------------------------------------------------------------------------------------ */
    &#payments {
        #payment-page-form {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #fff;
            transform: translate3d(-100%, 0, 0);
            @include easeOut;
            &.modal-form {
                display: none;
                &.active {
                    transform: translate3d(0, 0, 0);
                    display: block;
                }
            }
            .payment-page-hdr {
                display: flex;
                justify-content: space-between;
                padding: 3rem 5rem;
                background: $secondary-color;
                span {
                    display: flex;
                    i {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                    h2 {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        color: #fff;
                    }
                }
                i {
                    &.lni-close {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .payment-form {
                padding: 3rem 5rem;
                display: flex;
                form {
                    width: 60%;
                    padding: 3rem 5rem;
                    .input {
                        margin: 0.5rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        &.hide {
                            display: none;
                        }
                        label {
                            font-size: 1rem;
                            padding: 0.6rem 0;
                        }
                        input {
                            width: 80%;
                            padding: 0.7rem 2rem 0.7rem 3rem;
                            outline: none;
                            border: none;
                            border-bottom: 2px solid darken($secondary-color, 6);
                            font-size: 1rem;
                            color: #000;
                        }
                        i {
                            position: relative;
                            font-size: 1.5rem;
                            top: 2rem;
                            color: $secondary-color;
                        }
                    }
                    .form-txt {
                        padding: 2rem 0;
                        p {
                            font-size: 1rem;
                            a {
                                text-decoration: none;
                                color: $secondary-color;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .payment-img {
                    width: 40%;
                    background: url(/img/bg-2.svg);
                    background-size: cover;
                }
            }
        }
        .payments-content {
            .di {
                display: flex;
                justify-content: space-between;
                padding: 2rem 3rem;
                .content-hdr {
                    box-shadow: 10px 10px 10px darken($secondary-color, 15);
                    padding: 5rem 5rem 3rem 5rem;
                    background-color: $secondary-color;
                    width: 500px;
                    border-radius: 2rem;
                    span {
                        display: flex;
                        h2 {
                            font-size: 4rem;
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: 600;
                            margin: 1rem 0;
                        }
                        i {
                            font-size: 5rem;
                            color: #fff;
                            margin: 1rem 0.5rem;
                        }
                    }
                    button {
                        background-color: #fff;
                        color: #000;
                    }
                }
                .sidenav {
                    padding: 0 3rem;
                    display: flex;
                    i {
                        font-size: 3rem;
                        margin: 1rem 0;
                        z-index: 3;
                        cursor: pointer;
                    }
                    ul {
                        padding: 1rem 3rem;
                        background: rgb(241, 241, 241);
                        border-radius: 2rem;
                        width: 30%;
                        position: absolute;
                        box-shadow: 10px 10px 10px darken(rgb(241, 241, 241), 15);
                        top: 15rem;
                        right: 10rem;
                        visibility: hidden;
                        transform: translate3d(-100%, 0, 0);
                        @include easeOut;
                        &.show {
                            visibility: visible;
                            transform: translate3d(0, 0, 0);
                        }
                        li {
                            list-style: none;
                            margin: 1rem 0;
                            padding: 0.5rem 0;
                            a {
                                padding: 1rem 6rem 1rem 1rem;
                                border-radius: 1rem;
                                width: 100%;
                                font-size: 1.3rem;
                                &:hover {
                                    background: darken(rgb(241, 241, 241), 5);
                                }
                                &.active {
                                    background: darken(rgb(241, 241, 241), 9);
                                    &:hover {
                                        background: darken(rgb(241, 241, 241), 9);
                                    }
                                }
                                i {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
            .payments-table {
                padding: 5rem 3rem;
                h3 {
                    font-size: 2rem;
                    padding: 1rem 0;
                }
                table {
                    background-color: rgb(241, 241, 241);
                    width: 100%;
                    border-radius: 2rem;
                    padding: 5rem;
                    tr {
                        th {
                            font-size: 1.5rem;
                            padding: 1rem 2rem;
                            width: 30%;
                            text-align: center;
                            font-weight: bold;
                            border-bottom: 2px solid $secondary-color;
                        }
                        td {
                            font-size: 1.2rem;
                            padding: 1rem 2rem;
                            width: 30%;
                            margin: 0;
                            &:nth-child(1) {
                                border-right: 2px solid $secondary-color;
                            }
                            &:nth-child(2) {
                                border-right: 2px solid $secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    /* ------------------------------------------ patients ------------------------------------------------------------------------------------------------------------------------------------ */
    &#patients {
        .sidenav {
            padding: 0 3rem;
            display: flex;
            i {
                font-size: 3rem;
                margin: 1rem 0;
                z-index: 3;
                cursor: pointer;
            }
            ul {
                padding: 1rem 3rem;
                background: rgb(241, 241, 241);
                border-radius: 2rem;
                width: 30%;
                position: absolute;
                box-shadow: 10px 10px 10px darken(rgb(241, 241, 241), 15);
                top: 7rem;
                left: 15rem;
                visibility: hidden;
                transform: translate3d(-100%, 0, 0);
                @include easeOut;
                &.show {
                    visibility: visible;
                    transform: translate3d(0, 0, 0);
                }
                li {
                    list-style: none;
                    margin: 2rem 0;
                    padding: 0.5rem 0;
                    a {
                        padding: 1rem 6rem 1rem 1rem;
                        border-radius: 1rem;
                        width: 100%;
                        font-size: 1.3rem;
                        &:hover {
                            background: darken(rgb(241, 241, 241), 5);
                        }
                        &.active {
                            background: darken(rgb(241, 241, 241), 9);
                            &:hover {
                                background: darken(rgb(241, 241, 241), 9);
                            }
                        }
                        i {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        .patients-wrapper {
            padding: 5rem 3rem;
            h2 {
                font-size: 2rem;
                margin: 2rem 0;
            }
            .filter-form {
                padding: 3rem 2rem;
                background: $secondary-color;
                border-radius: 2rem;
                h4 {
                    font-size: 1.5rem;
                    color: #fff;
                }
                form {
                    padding: 2rem 3rem;
                    display: flex;
                    .input {
                        width: 30%;
                        label {
                            font-size: 1rem;
                        }
                        select {
                            border: none;
                            border-bottom: 1px solid $primary-color;
                            padding: 0.5rem 1rem;
                            width: 60%;
                            color: #fff;
                            background: transparent;
                            option {
                                color: $secondary-color;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                    button {
                        background: $primary-color;
                    }
                }
            }
            .patients-table {
                padding: 3rem 0;
                table {
                    background-color: rgb(241, 241, 241);
                    width: 100%;
                    border-radius: 2rem;
                    padding: 5rem;
                    tr {
                        th {
                            font-size: 1.5rem;
                            padding: 1rem 2rem;
                            width: 23%;
                            text-align: center;
                            font-weight: bold;
                            border-bottom: 2px solid $secondary-color;
                        }
                        td {
                            font-size: 1.2rem;
                            padding: 1rem 2rem;
                            width: 23%;
                            margin: 0;
                            &:nth-child(1) {
                                border-right: 2px solid $secondary-color;
                            }
                            &:nth-child(2) {
                                border-right: 2px solid $secondary-color;
                            }
                            &:nth-child(3) {
                                border-right: 2px solid $secondary-color;
                            }
                        }
                    }
                }
                .total {
                    padding: 3rem 0;
                    span {
                        padding: 3rem;
                        background: $secondary-color;
                        border-radius: 2rem;
                        float: right;
                        h3 {
                            font-size: 2rem;
                            color: $primary-color;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    /* ------------------------------------------ health officer ------------------------------------------------------------------------------------------------------------------------------------ */
    &#health-officer {
        #health-page-form {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #fff;
            &.modal-form {
                display: none;
                &.active {
                    display: block;
                }
            }
            .health-page-hdr {
                display: flex;
                justify-content: space-between;
                padding: 3rem 5rem;
                background: $secondary-color;
                span {
                    display: flex;
                    i {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                    h2 {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        color: #fff;
                    }
                }
                i {
                    &.lni-close {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .health-form {
                padding: 3rem 5rem;
                display: flex;
                form {
                    width: 60%;
                    padding: 3rem 5rem;
                    .input {
                        margin: 0.5rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        &.hide {
                            display: none;
                        }
                        label {
                            font-size: 1rem;
                            padding: 0.6rem 0;
                        }
                        input {
                            width: 80%;
                            padding: 0.7rem 2rem 0.7rem 3rem;
                            outline: none;
                            border: none;
                            border-bottom: 2px solid darken($secondary-color, 6);
                            font-size: 1rem;
                            color: #000;
                        }
                        i {
                            position: relative;
                            font-size: 1.5rem;
                            top: 2rem;
                            color: $secondary-color;
                        }
                    }
                    .form-txt {
                        padding: 2rem 0;
                        p {
                            font-size: 1rem;
                            a {
                                text-decoration: none;
                                color: $secondary-color;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .health-img {
                    width: 40%;
                    background: url(/img/bg-2.svg);
                    background-size: cover;
                }
            }
        }
        #promotion {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #fff;
            &.modal-promote-form {
                display: none;
                &.active {
                    display: block;
                }
            }
            .promotion-hdr {
                display: flex;
                justify-content: space-between;
                padding: 3rem 5rem;
                background: $secondary-color;
                span {
                    display: flex;
                    i {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                    }
                    h2 {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        color: #fff;
                    }
                }
                i {
                    &.lni-close {
                        font-size: 3rem;
                        color: #fff;
                        margin: 0 1rem;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .promotion-form {
                padding: 3rem 5rem;
                display: flex;
                form {
                    width: 60%;
                    padding: 3rem 5rem;
                    .input {
                        margin: 0.5rem 0;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        label {
                            font-size: 1rem;
                            padding: 0.6rem 0;
                        }
                        input {
                            width: 80%;
                            padding: 0.7rem 2rem 0.7rem 3rem;
                            outline: none;
                            border: none;
                            border-bottom: 2px solid darken($secondary-color, 6);
                            font-size: 1rem;
                            color: #000;
                        }
                        i {
                            position: relative;
                            font-size: 1.5rem;
                            top: 2rem;
                            color: $secondary-color;
                        }
                    }
                    .form-txt {
                        padding: 2rem 0;
                        p {
                            font-size: 1rem;
                            a {
                                text-decoration: none;
                                color: $secondary-color;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .promotion-img {
                    width: 40%;
                    background: url(/img/bg-2.svg);
                    background-size: cover;
                }
            }
        }
        .health-content {
            .di {
                display: flex;
                justify-content: space-between;
                padding: 2rem 3rem;
                .content-hdr {
                    padding: 5rem 5rem 3rem 5rem;
                    box-shadow: 10px 10px 10px darken($secondary-color, 15);
                    background-color: $secondary-color;
                    width: 650px;
                    border-radius: 2rem;
                    span {
                        display: flex;
                        h2 {
                            font-size: 4rem;
                            text-transform: uppercase;
                            color: #fff;
                            font-weight: 600;
                            margin: 1rem 0;
                        }
                        i {
                            font-size: 5rem;
                            color: #fff;
                            margin: 1rem 0.5rem;
                        }
                    }
                    button {
                        background-color: #fff;
                        color: #000;
                    }
                }
                .sidenav {
                    padding: 0 3rem;
                    display: flex;
                    i {
                        font-size: 3rem;
                        margin: 1rem 0;
                        z-index: 3;
                        cursor: pointer;
                    }
                    ul {
                        padding: 1rem 3rem;
                        background: rgb(241, 241, 241);
                        border-radius: 2rem;
                        width: 30%;
                        position: absolute;
                        box-shadow: 10px 10px 10px darken(rgb(241, 241, 241), 15);
                        top: 15rem;
                        right: 10rem;
                        visibility: hidden;
                        transform: translate3d(-100%, 0, 0);
                        @include easeOut;
                        &.show {
                            visibility: visible;
                            transform: translate3d(0, 0, 0);
                        }
                        li {
                            list-style: none;
                            margin: 1rem 0;
                            padding: 0.5rem 0;
                            a {
                                padding: 1rem 6rem 1rem 1rem;
                                border-radius: 1rem;
                                width: 100%;
                                font-size: 1.3rem;
                                &:hover {
                                    background: darken(rgb(241, 241, 241), 5);
                                }
                                &.active {
                                    background: darken(rgb(241, 241, 241), 9);
                                    &:hover {
                                        background: darken(rgb(241, 241, 241), 9);
                                    }
                                }
                                i {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .health-table {
            padding: 5rem 3rem;
            h3 {
                font-size: 2rem;
                padding: 1rem 0;
            }
            table {
                background-color: rgb(241, 241, 241);
                width: 100%;
                border-radius: 2rem;
                padding: 5rem;
                tr {
                    th {
                        font-size: 1.5rem;
                        padding: 1rem 2rem;
                        width: 30%;
                        text-align: center;
                        font-weight: bold;
                        border-bottom: 2px solid $secondary-color;
                    }
                    td {
                        font-size: 1.2rem;
                        padding: 1rem 2rem;
                        width: 30%;
                        margin: 0;
                        &:nth-child(1) {
                            border-right: 2px solid $secondary-color;
                        }
                        &:nth-child(2) {
                            border-right: 2px solid $secondary-color;
                        }
                        &:nth-child(3) {
                            border-right: 2px solid $secondary-color;
                        }
                        button {
                            &.junior {
                                background: rgb(13, 122, 22);
                            }
                            &.senior {
                                background: $primary-color;
                            }
                            &.deactivate {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    /* --------------------- back top top button -------------------------------------------------------------------------- */
    a {
        &.btn-top {
            cursor: pointer;
            @include easeOut;
            i {
                position: fixed;
                bottom: 3rem;
                left: 3rem;
                font-size: 3rem;
                padding: 1rem;
                color: $primary-color;
                @include easeOut;
                border-radius: 20rem;
                animation: bounce 4s linear infinite 1s;
                animation-timing-function: ease-Out;
                &:hover {
                    background: #fff;
                    color: $secondary-color;
                }
            }
            &.hide {
                display: none;
            }
            &.show {
                display: block;
            }
        }
    }
}


/* ------------------------------------------ footer ------------------------------------------------------------------------------------------------------------------------------------ */

footer {
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
    padding: 2rem 3rem;
    h3 {
        font-size: 1.2rem;
        padding: 0.5rem;
        &:nth-child(1) {
            margin: 0 0.5rem;
            border-right: 2px solid #fff;
        }
        &:nth-child(2) {
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }
    }
}

@keyframes bounce {
    0% {
        margin: 0 0 2rem 0;
    }
    20% {
        margin: 2rem 0 0 0;
    }
    40% {
        margin: 0 0 2rem 0;
    }
    60% {
        margin: 2rem 0 0 0;
    }
    80% {
        margin: 0 0 2rem 0;
    }
    100% {
        margin: 2rem 0 0 0;
    }
}